android/app/src/main/assets/tts/** filter=lfs diff=lfs merge=lfs -text
android/app/src/main/assets/piper/** filter=lfs diff=lfs merge=lfs -text
android/app/libs/*.aar filter=lfs diff=lfs merge=lfs -text
